name: 5 - platform vnets

on:
  #push:
  # branches: 
  #    - main 
  # paths:
  #   - .github/workflows/5-platform-vnets.yml
      
  # pull_request:
  #  branches: [ main ]

  workflow_dispatch:

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: 'Lint and Build Bicep'
      run: az bicep build --file ./eslz/platformVNets/deploy.bicep

  validate:
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/login@v1
      name: 'Login to Azure'
      with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ secrets.AZURE_ENVIRONMENT }}
          enable-AzPSSession: false
        
    - name: 'Set Azure Subscription'
      run: az account set --subscription ${{ secrets.AZURE_CONNSUBSCRIPTIONID }}

    - uses: Azure/cli@v1
      name: 'Run preflight validation'
      with:
        inlineScript: |
          az deployment sub validate \
            --name 'Deploy-Platform-Hub-Spoke-VNet' \
            --location ${{ secrets.AZURE_LOCATION }} \
            --template-file ./eslz/platformVNets/deploy.bicep \
            --parameters ./eslz/platformVNets/.parameters/parameters.json \
            --parameters ./eslz/platformVNets/.parameters/privateDNSZones.json \
            --parameters location=${{ secrets.AZURE_LOCATION }} \
                         hubVnetSubscriptionId=${{ secrets.AZURE_CONNSUBSCRIPTIONID }} \
                         mgmtsubid=${{ secrets.AZURE_MGMTSUBSCRIPTIONID }} \
                         ssvcsubid=${{ secrets.AZURE_SSVCSUBSCRIPTIONID }} \
                         diagnosticWorkspaceId=${{ secrets.AZURE_LAWORKSPACEID }} \
                         diagnosticStorageAccountId=${{ secrets.AZURE_DIAGSTORAGEACCTID }} \
                         diagnosticEventHubName=${{ secrets.AZURE_DIAGEHNAME }} \
                         diagnosticEventHubAuthorizationRuleId=${{ secrets.AZURE_DIAGEHAUTHRULEID }} \
                         enrollmentID=${{ secrets.AZURE_ENROLLMENTID}}

  preview:
    runs-on: ubuntu-latest
    needs: [validate]
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/login@v1
      name: 'Login to Azure'
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        environment: ${{ secrets.AZURE_ENVIRONMENT }}
        enable-AzPSSession: false
      
    - name: 'Set Azure Subscription'
      run: az account set --subscription ${{ secrets.AZURE_CONNSUBSCRIPTIONID }}
              
    - uses: Azure/cli@v1
      name: 'Run what-if'
      with:
        inlineScript: |
          az deployment sub what-if \
            --name 'Deploy-Platform-Hub-Spoke-VNet' \
            --location ${{ secrets.AZURE_LOCATION }} \
            --template-file ./eslz/platformVNets/deploy.bicep \
            --parameters ./eslz/platformVNets/.parameters/parameters.json \
            --parameters ./eslz/platformVNets/.parameters/privateDNSZones.json \
            --parameters location=${{ secrets.AZURE_LOCATION }} \
                         hubVnetSubscriptionId=${{ secrets.AZURE_CONNSUBSCRIPTIONID }} \
                         mgmtsubid=${{ secrets.AZURE_MGMTSUBSCRIPTIONID }} \
                         ssvcsubid=${{ secrets.AZURE_SSVCSUBSCRIPTIONID }} \
                         diagnosticWorkspaceId=${{ secrets.AZURE_LAWORKSPACEID }} \
                         diagnosticStorageAccountId=${{ secrets.AZURE_DIAGSTORAGEACCTID }} \
                         diagnosticEventHubName=${{ secrets.AZURE_DIAGEHNAME }} \
                         diagnosticEventHubAuthorizationRuleId=${{ secrets.AZURE_DIAGEHAUTHRULEID }} \
                         enrollmentID=${{ secrets.AZURE_ENROLLMENTID}}

  deploy:
    runs-on: ubuntu-latest
    needs: [preview]
    environment: Production
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/login@v1
      name: 'Login to Azure'
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        environment: ${{ secrets.AZURE_ENVIRONMENT }}
        enable-AzPSSession: false
      
    - name: 'Set Azure Subscription'
      run: az account set --subscription ${{ secrets.AZURE_CONNSUBSCRIPTIONID }}
              
    - uses: Azure/cli@v1
      name: 'Deploy - Platform Hub-Spoke VNet'
      with:
        inlineScript: |
          az deployment sub create \
            --name 'Deploy-Platform-Hub-Spoke-VNet' \
            --location ${{ secrets.AZURE_LOCATION }} \
            --template-file ./eslz/platformVNets/deploy.bicep \
            --parameters ./eslz/platformVNets/.parameters/parameters.json \
            --parameters ./eslz/platformVNets/.parameters/privateDNSZones.json \
            --parameters location=${{ secrets.AZURE_LOCATION }} \
                         hubVnetSubscriptionId=${{ secrets.AZURE_CONNSUBSCRIPTIONID }} \
                         mgmtsubid=${{ secrets.AZURE_MGMTSUBSCRIPTIONID }} \
                         ssvcsubid=${{ secrets.AZURE_SSVCSUBSCRIPTIONID }} \
                         diagnosticWorkspaceId=${{ secrets.AZURE_LAWORKSPACEID }} \
                         diagnosticStorageAccountId=${{ secrets.AZURE_DIAGSTORAGEACCTID }} \
                         diagnosticEventHubName=${{ secrets.AZURE_DIAGEHNAME }} \
                         diagnosticEventHubAuthorizationRuleId=${{ secrets.AZURE_DIAGEHAUTHRULEID }} \
                         enrollmentID=${{ secrets.AZURE_ENROLLMENTID}}