name: 6 - platform policy assignments

on:
  # push:
  # branches: 
  #    - main 
  # paths:
  #   - .github/workflows/eslz-mg-policy-assignment.yml
      
  #pull_request:
  #  branches: [ main ]

  workflow_dispatch:

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: 'Lint and Build Bicep'
      run: az bicep build --file ./eslz/policy/policy.assignment.bicep

  validate: 
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/login@v1
      name: 'Login to Azure'
      with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ secrets.AZURE_ENVIRONMENT }}
          enable-AzPSSession: false
        
    - name: 'Set Azure Subscription'
      run: az account set --subscription ${{ secrets.AZURE_MGMTSUBSCRIPTIONID }}

    - uses: Azure/cli@v1
      name: 'Run preflight validation'
      with:
        inlineScript: |
          az deployment mg validate \
            --name 'Platform-Policy-Assignments' \
            --location ${{ secrets.AZURE_LOCATION }} \
            --management-group-id ${{ secrets.AZURE_MG_TOP }} \
            --template-file ./eslz/policy/policy.assignment.bicep \
            --parameters ./eslz/policy/.parameters/mg.policy.assignment.parameters.json \
            --parameters ./eslz/policy/.parameters/sub.policy.assignment.parameters.json \
            --parameters ./eslz/policy/.parameters/rg.policy.assignment.parameters.json

  preview:
      runs-on: ubuntu-latest
      needs: [validate]
      steps:
      - uses: actions/checkout@v2
      
      - uses: azure/login@v1
        name: 'Login to Azure'
        with:
         creds: ${{ secrets.AZURE_CREDENTIALS }}
         environment: ${{ secrets.AZURE_ENVIRONMENT }}
         enable-AzPSSession: false
        
      - name: 'Set Azure Subscription'
        run: az account set --subscription ${{ secrets.AZURE_MGMTSUBSCRIPTIONID }}
                
      - uses: Azure/cli@v1
        name: 'Run what-if'
        with:
          inlineScript: |
            az deployment mg what-if \
              --name 'Platform-Policy-Assignments' \
              --location ${{ secrets.AZURE_LOCATION }} \
              --management-group-id ${{ secrets.AZURE_MG_TOP }} \
              --template-file ./eslz/policy/policy.assignment.bicep \
              --parameters ./eslz/policy/.parameters/mg.policy.assignment.parameters.json \
              --parameters ./eslz/policy/.parameters/sub.policy.assignment.parameters.json \
              --parameters ./eslz/policy/.parameters/rg.policy.assignment.parameters.json

  deploy:
    runs-on: ubuntu-latest
    needs: [preview]
    environment: Production
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/login@v1
      name: 'Login to Azure'
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        environment: ${{ secrets.AZURE_ENVIRONMENT }}
        enable-AzPSSession: false
      
    - name: 'Set Azure Subscription'
      run: az account set --subscription ${{ secrets.AZURE_MGMTSUBSCRIPTIONID }}
              
    - uses: Azure/cli@v1
      name: 'Platform Policy Assignments'
      with:
        inlineScript: |
          az deployment mg create \
            --name 'Platform-Policy-Assignments' \
            --location ${{ secrets.AZURE_LOCATION }} \
            --management-group-id ${{ secrets.AZURE_MG_TOP }} \
            --template-file ./eslz/policy/policy.assignment.bicep \
            --parameters ./eslz/policy/.parameters/mg.policy.assignment.parameters.json \
            --parameters ./eslz/policy/.parameters/sub.policy.assignment.parameters.json \
            --parameters ./eslz/policy/.parameters/rg.policy.assignment.parameters.json