name: update virtual network links

on:
  #push:
  # branches: 
  #    - main 
  # paths:
  #   - .github/workflows/test.yml
      
  # pull_request:
  #  branches: [ main ]

  workflow_dispatch:

jobs:

  deploy:
    runs-on: ubuntu-latest
    #needs: [preview]
    environment: Production
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/login@v1
      name: 'Login to Azure'
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        environment: ${{ secrets.AZURE_ENVIRONMENT }}
        enable-AzPSSession: false
      
    - name: 'Set Azure Subscription'
      run: az account set --subscription ${{ secrets.AZURE_CONNSUBSCRIPTIONID }}
              
    - uses: Azure/cli@v1
      name: 'Update - Virtual Network Links'
      with:
        inlineScript: |
          az deployment sub create \
            --name 'Update-Virtual-Network-Links' \
            --location ${{ secrets.AZURE_LOCATION }} \
            --template-file ./eslz/privateDnsZones/updateVirtualNetworkLinks.bicep \
            --parameters ./eslz/privateDnsZones/privateDNSZones.json